@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
:root {
  --light-pink: hsl(321, 100%, 78%);
  --light-red: hsl(0, 100%, 63%);
  --pink: hsl(322, 100%, 66%);
  --very-dark-cyan: hsl(192, 100%, 9%);
  --very-pale-blue: hsl(207, 100%, 98%);
}
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}
main {
  color: var(--very-dark-cyan, midnightblue);
  font-size: 16px;
  font-weight: 400;
  height: 100%;
  max-width: 100%;
}
.size-image {
  height: auto;
  position: relative;
  width: 100%;
}
.headings {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 2rem 5% 4rem 5%;
}
.logo-box {
  margin: 0;
}
.header-logo {
  height: 1.5rem;
  width: auto;
}
.btn-try {
  background-color: transparent;
  border-radius: 1rem;
  border: 1px solid var(--pink, deeppink);
  color: var(--pink, deeppink);
  font-size: 0.8em;
  padding: 0.4rem 1rem;
  transition-duration: 0.7s;
}
.btn-try:hover {
  border-color: var(--light-pink, fuchsia);
  color: var(--light-pink, fuchsia);
  cursor: pointer;
}
.introduction-box {
  padding: 2rem 10%;
  text-align: center;
}
.introduction-paragraph {
  padding: 0 15%;
}
.btn-getstarted {
  background-color: var(--pink, deeppink);
  border-radius: 1.5rem;
  border: none;
  color: var(--very-pale-blue, aliceblue);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin: 2rem 0 4rem 0;
  padding: 0.6rem 2rem;
  transition-duration: 0.7s;
}
.btn-getstarted:hover,
.btn-subscribe:hover {
  background-color: var(--light-pink, fuchsia);
  cursor: pointer;
}
.introduction-image-box {
  margin-left: 0;
  margin-right: 0;
}
.stats-container {
  display: flex;
  justify-content: space-around;
  padding-bottom: 6rem;
}
.stat-box {
  margin: 2rem 0 10rem 0;
}
.stats-icon-size {
  height: 2rem;
  width: auto;
}
.stats-number {
  font-size: 4rem;
  margin: 0;
}
.stats-name {
  color: #98a2a8;
  margin: 0;
  text-align: center;
}
.grow-flowing-users-container section {
  align-items: center;
  display: flex;
  position: relative;
}
.grow-section,
.users-section {
  background-color: var(--very-pale-blue, aliceblue);
  flex-direction: row-reverse;
  padding: 5%;
}
.bg-top-section1,
.bg-bottom-section1,
.bg-section-top-2,
.bg-section-bottom-2 {
  background-repeat: no-repeat;
  background-size: cover;
  height: 26%;
  left: 0;
  position: absolute;
  width: 100%;
}
.bg-top-section1 {
  background-image: url(./images/bg-section-top-desktop-1.svg);
  bottom: 99%;
}
.bg-bottom-section1 {
  background-image: url(./images/bg-section-bottom-desktop-1.svg);
  top: 99%;
}
.illustration-box {
  margin-left: 0;
  margin-right: 0;
}
.text-grow-section,
.text-users-section {
  padding-right: 10%;
}
.flowing-section {
  padding: 16rem 5%;
}
.text-flowing-section {
  padding-left: 10%;
}
.bg-section-top-2 {
  background-image: url(./images/bg-section-top-desktop-2.svg);
  bottom: 99%;
}
.bg-section-bottom-2 {
  background-image: url(./images/bg-section-bottom-desktop-2.svg);
  top: 99%;
}
.ready-build-container {
  padding: 12rem 10% 16rem 10%;
  text-align: center;
}
.btn-3 {
  margin-top: 2rem;
}
.company-information-box {
  background-color: var(--very-dark-cyan, midnightblue);
  color: var(--very-pale-blue, aliceblue);
  display: flex;
  flex-direction: row-reverse;
  padding: 5%;
  position: relative;
}
.bg-footer-top {
  background-image: url(./images/bg-footer-top-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 99%;
  height: 42%;
  left: 0;
  position: absolute;
  width: 100%;
}
.contact-box {
  padding-right: 10%;
}
.subscribe-box {
  padding-left: 10%;
}
.subscribe-box-title {
  margin-top: 0;
}
.subscribe-paragraph {
  padding-right: 30%;
}
.input-email,
.btn-subscribe {
  border-radius: 6px;
  border: none;
  margin-top: 1rem;
  padding: 0.8rem 0;
}
.input-email {
  width: 60%;
}
.btn-subscribe {
  background-color: var(--pink, deeppink);
  color: var(--very-pale-blue, aliceblue);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-left: 2%;
  transition-duration: 0.7s;
  width: 36%;
}
.footer-logo-box {
  margin: 0 0 1rem 0;
}
.footer-logo {
  height: 2rem;
  width: auto;
}
.data-list-style {
  list-style-type: none;
  margin-top: 2rem;
  padding: 0;
}
.data-list-style a {
  color: var(--very-pale-blue, aliceblue);
  text-decoration: none;
}
ion-icon {
  font-size: 1.5rem;
}
#data-list1 figure {
  align-items: center;
  display: flex;
  margin: 0;
}
#data-list1 figcaption {
  margin-left: 1rem;
}
#data-list2 {
  display: flex;
}
#data-list2 li {
  margin: 0 2%;
}
#data-list2 a:hover {
  color: aqua;
  cursor: pointer;
}
footer {
  color: var(--very-dark-cyan, midnightblue);
  text-align: center;
}
.attribution {
  font-size: 0.8em;
}
.attribution a {
  color: var(--pink, deeppink);
  text-decoration-color: transparent;
  transition-duration: 0.7s;
}
.attribution a:hover {
  color: var(--light-pink, fuchsia);
  text-decoration-color: var(--light-pink, fuchsia);
}
@media (max-width: 760px) {
  header {
    padding-bottom: 2rem;
  }
  .header-logo {
    height: 1rem;
  }
  .btn-try {
    font-size: 0.6em;
    padding: 0.2rem 0.8rem;
  }
  .introduction-box {
    padding: 2rem 5%;
  }
  .introduction-paragraph {
    padding: 0;
  }
  .btn-getstarted {
    font-size: 0.8em;
  }
  .stats-container {
    align-items: center;
    flex-direction: column;
  }
  .stat-box {
    margin: 2rem 0;
  }
  .stats-icon-size {
    height: 1.5rem;
  }
  .grow-flowing-users-container {
    text-align: center;
  }
  .grow-flowing-users-container section {
    display: block;
  }
  .bg-top-section1,
  .bg-bottom-section1,
  .bg-section-top-2,
  .bg-section-bottom-2 {
    background-size: contain;
  }
  .bg-top-section1 {
    background-image: url(./images/bg-section-top-mobile-1.svg);
    bottom: 95%;
  }
  .bg-bottom-section1 {
    background-image: url(./images/bg-section-bottom-mobile-1.svg);
    top: 100%;
  }
  .illustration-box {
    margin-bottom: 4rem;
    margin-left: 10%;
    margin-right: 10%;
  }
  .text-grow-section,
  .text-users-section,
  .text-flowing-section {
    padding: 0;
  }
  .flowing-section {
    padding: 8rem 5% 10rem 5%;
  }
  .bg-section-top-2 {
    background-image: url(./images/bg-section-top-mobile-2.svg);
    bottom: 95%;
  }
  .bg-section-bottom-2 {
    background-image: url(./images/bg-section-bottom-mobile-2.svg);
    top: 100%;
  }
  .ready-build-container {
    padding: 8rem 10% 14rem 10%;
  }
  .btn-getstarted2 {
    font-size: 0.8em;
  }
  .company-information-box {
    display: block;
  }
  .bg-footer-top {
    background-image: url(./images/bg-footer-top-mobile.svg);
    background-size: contain;
    bottom: 82%;
    height: 25%;
  }
  .contact-box,
  .subscribe-box,
  .subscribe-paragraph {
    padding: 0;
  }
  .subscribe-box-title {
    margin-top: 1rem;
  }
  .subscribe-form {
    display: flex;
    flex-direction: column;
  }
  .input-email {
    width: 100%;
  }
  .btn-subscribe {
    font-size: 0.8em;
    margin-left: 50%;
    width: 50%;
  }
  .footer-logo-box {
    margin: 4rem 0 1rem 0;
  }
}
