@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&family=Barlow+Semi+Condensed:wght@500;600&family=Big+Shoulders+Display:wght@700&family=Big+Shoulders+Text:wght@400;500;600&family=Lexend+Deca&family=Outfit:wght@300;400;600&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300&family=Raleway:wght@400;700&family=Red+Hat+Display:wght@500;700;900&family=Rubik:wght@400;500;700&display=swap");
:root {
  --dark-Grayish-Blue: hsl(210, 10%, 33%);
  --grayish-Blue: hsl(201, 11%, 66%);
  --light-Blue: hsl(233, 100%, 69%);
  --strong-Cyan: hsl(171, 66%, 44%);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  cursor: pointer;
  text-decoration: none;
}
body {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 18px;
}
header {
  align-items: center;
  background-size: cover;
  background: url(./images/bg-header-desktop.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 70px;
}
.intro {
  padding: 10px 0;
  text-align: center;
  width: 40%;
}
.intro h2 {
  padding: 5px 0;
}
.action-button {
  padding: 20px 0;
}
.action-button button {
  background: transparent;
  border-radius: 20px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  margin: 0 10px;
  outline: none;
  padding: 10px 25px;
}
.action-button button.ios {
  background-color: hsl(171, 66%, 44%);
  box-shadow: 2px 2px 8px hsl(171, 66%, 44%), 2px 2px 2px hsl(171, 66%, 44%);
}
.action-button button.Mac {
  background-color: hsl(233, 100%, 69%);
  box-shadow: 2px 2px 8px hsl(233, 100%, 69%), 2px 2px 8px hsl(233, 100%, 69%);
}
.one {
  margin: auto;
  text-align: center;
  width: 45%;
}
.one h2 {
  padding: 15px 0;
}
.two {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 50px 0;
}
.two img {
  height: 100%;
  width: 80%;
}
.two .features div {
  margin-top: 40px;
  width: 65%;
}
.three {
  align-items: center;
  display: grid;
  justify-content: center;
  text-align: center;
}
.three img {
  height: 100%;
  margin: auto;
  width: 80%;
}
.three div:first-child {
  margin: auto;
  padding: 70px 0;
  width: 65%;
}
.four .functions {
  display: flex;
  justify-content: center;
  margin: 100px 0;
  text-align: center;
}
.four .functions div {
  margin: 0 30px;
  width: 26%;
}
.four .functions div img {
  margin: 10px 0 20px 0;
}
.four .support_companys {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 50px 30px;
  padding: 0 100px;
}
.five {
  margin: auto;
  text-align: center;
  width: 46%;
}
footer .foot {
  align-items: center;
  display: grid;
  grid-template-columns: 20% 60% 20%;
}
.foot .logo {
  height: 50px;
  margin: 0 70px;
  width: 50px;
}
.foot ul {
  list-style: none;
  max-width: 400px;
}
ul li {
  display: inline-block;
  margin: 5px 20px;
}
a {
  color: hsl(171, 66%, 44%);
}
@media (max-width: 765px) {
  div:first-child {
    width: 75%;
  }

  header {
    background-size: cover;
    background: url("./images/bg-header-desktop.png");
    padding: 40px 10px;
  }
  .intro {
    width: 100%;
  }
  .one {
    width: 80%;
  }
  .two {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .two.features {
    margin: 60px 12% auto;
    width: 75%;
  }
  .three .four.functions {
    display: grid;
  }
  .four.functions div {
    width: 85%;
  }
  .four.support_companys {
    align-items: center;
    display: grid;
    grid-gap: 4em;
    justify-content: center;
  }
  .five {
    width: 84%;
  }
  .action-button button {
    margin: 10px 0;
  }
  footer .foot {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0;
    text-align: center;
  }
  ul li {
    display: grid;
    margin: 20px 0;
  }
  .social_links {
    margin: 10px;
  }
}
