@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
}
:root {
  --ark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --soft-pink: hsl(333, 80%, 67%);
  --spartan: "Spartan", sans-serif;
  --very-dark-magenta: hsl(300, 43%, 22%);
  --white: hsl(0, 0%, 100%);
}
body {
  align-items: center;
  background-image: url(./images/bg-pattern-top-mobile.svg),
    url(./images/bg-pattern-bottom-mobile.svg);
  background-position: top left, bottom right;
  background-repeat: no-repeat, no-repeat;
  display: flex;
  font-family: var(--spartan);
  font-size: 15px;
  justify-content: center;
  min-height: 100vh;
  min-width: 375px;
  overflow-x: hidden;
  width: 100vw;
}
.container {
  padding: 5rem 1.5rem;
}
.info-container {
  text-align: center;
}
.review-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.btm-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.rate {
  align-items: center;
  background-color: var(--light-grayish-magenta);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0.5rem;
  padding: 0.75rem;
  width: 100%;
}
.rate .img-holder,
.rate p {
  margin: 0.25rem 0;
}
.heading {
  color: var(--very-dark-magenta);
  margin-bottom: 1.5rem;
}
.paragraph {
  color: var(--ark-grayish-magenta);
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.5rem;
  margin-bottom: 2rem;
}
.review-container .text {
  color: var(--very-dark-magenta);
  font-weight: 700;
}
.comment-box {
  background-color: var(--very-dark-magenta);
  border-radius: 0.5rem;
  margin: 1rem 0;
  padding: 3rem 1.75rem;
}
.profile-info {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 1.5rem;
}
.profile-info .img-holder {
  margin-right: 1.5rem;
}
.profile-info .img-holder img {
  border-radius: 50%;
  width: 40px;
}
.profile-info .info {
  font-size: 0.8rem;
  line-height: 1.25rem;
}
.profile-info .name {
  color: var(--white);
  font-weight: 700;
}
.profile-info .verify {
  color: var(--soft-pink);
}
.comment {
  color: var(--white);
  font-size: 0.838rem;
  font-weight: 500;
  line-height: 1.25rem;
}
@media screen and (min-width: 1200px) {
  body {
    background-image: url(./images/bg-pattern-top-desktop.svg),
      url(./images/bg-pattern-bottom-desktop.svg);
    background-position: top left, bottom right;
    background-repeat: no-repeat, no-repeat;
  }
  .container {
    margin: 5rem 0;
    min-height: 75vh;
    padding: 0.25rem;
    width: 80vw;
  }
  .top-container {
    display: flex;
    flex-direction: row;
  }
  .info-container {
    flex-basis: 0;
    flex-grow: 1;
    text-align: start;
  }
  .info-container .heading {
    font-size: 2.75rem;
    width: 75%;
  }
  .info-container .paragraph {
    width: 80%;
  }
  .review-container {
    align-items: flex-start;
    flex-basis: 0;
    flex-grow: 1;
  }
  .rate {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 1rem 0;
    width: 85%;
  }
  .rate .img-holder {
    margin: 0 2rem;
  }
  .report-guru {
    margin-left: 2.75rem;
  }
  .best-tech {
    margin-left: 5.56rem;
  }
  .btm-container {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
  }
  .comment-box {
    flex-basis: 0;
    flex-grow: 1;
    margin: 0;
  }
  .comment-box.colton {
    margin-top: 2rem;
  }
  .comment-box.irene {
    margin-top: 4rem;
    margin: 0 2rem;
  }
  .comment-box.anne {
    margin-top: 6rem;
  }
}
