* {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
}
html {
  margin: auto;
  max-width: 1440px;
  min-width: 375px;
}
body {
  align-items: center;
  background-color: hsl(0, 0%, 98%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  min-height: 100vh;
  width: 90%;
}
header {
  margin-top: 5em;
  text-align: center;
}
header h1 {
  color: hsl(200, 6%, 66%);
  font-size: 1.5em;
  font-weight: 200;
}
header h2 {
  color: hsl(234, 12%, 34%);
  font-size: 1.5em;
  font-weight: 600;
}
header p {
  color: hsl(229, 6%, 66%);
  font-size: 1em;
  font-weight: 200;
  margin: auto;
  padding: 1em;
}
.cards {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3em;
}
.card {
  background-color: white;
  border-radius: 5px;
  border-top: 5px solid blue;
  box-shadow: 1em 1em 1em 0px rgb(62 58 58);
  height: 13.5em;
  margin: 1.5em 1em;
  padding: 1.5em;
  width: 20em;
}
.card h2 {
  color: hsl(234, 12%, 34%);
}
.card p {
  color: hsl(229, 6%, 66%);
  font-size: 0.8em;
  font-weight: 200;
  line-height: 2em;
}
.card p::after {
  display: block;
  padding: 1em 0em;
  text-align: end;
}
.supervisor p::after {
  content: url(./images/icon-supervisor.svg);
}
.team-builder p::after {
  content: url(./images/icon-team-builder.svg);
}
.karma p::after {
  content: url(./images/icon-karma.svg);
}
.calculator p::after {
  content: url(./images/icon-calculator.svg);
}
.supervisor {
  border-color: hsl(180, 62%, 55%);
}
.team-builder {
  border-color: hsl(0, 78%, 62%);
}
.karma {
  border-color: hsl(34, 97%, 64%);
}
.calculator {
  border-color: hsl(212, 86%, 64%);
}
img {
  position: absolute;
  right: 0%;
}
@media screen and (min-width: 992px) {
  header {
    margin-top: 0em;
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 0em;
  }
  .card {
    align-self: center;
    height: 15em;
  }
  .supervisor {
    grid-column: 1/2;
    grid-row: 1/3;
  }
  .karma {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .calculator {
    grid-row: 1/3;
  }
}
