* {
  font-family: "Spartan", sans-serif;
}
th {
  background-color: rgb(32, 40, 50);
  height: 5vh;
}
tr:nth-child(2n) {
  background-color: rgb(36, 46, 56);
  color: white;
}
tr:nth-child(2n + 1) {
  background-color: rgb(44, 56, 68);
  color: white;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: blue;
  text-decoration: underline;
}
a:active {
  color: red;
}

/* First paragraph */
/* p:nth-of-type(1) {
font-weight: bold;
} */
th,
td,
tr {
  width: 10vw;
}
td {
  text-align: center;
  width: 15vw;
  height: 5vh;
}
#t1 {
  border-collapse: collapse;
  position: absolute;
  left: 13%;
  top: 50%;
  transform: translate(-50%, 0%);
  width: 15vw;
}
#t2 {
  border-collapse: collapse;
  position: absolute;
  left: 43%;
  top: 50%;
  transform: translate(-50%, 0%);
  width: 15vw;
  height: 100vh;
}
#t3 {
  border-collapse: collapse;
  position: absolute;
  left: 73%;
  top: 50%;
  transform: translate(-50%, 0%);
  width: 15vw;
}
body {
  background: skyblue;
  position: relative;
}
div {
  width: 10vw;
}
caption {
  font-weight: bold;
  padding: 10px;
}
@media only screen and (max-width: 1046px) {
  body {
    height: 350vh;
  }
  #t1 {
    transform: translate(-50%, -163%);
    left: 49%;
    width: 17vw;
  }
  #t2 {
    transform: translate(-50%, -56%);
    left: 49%;
  }

  div {
    width: 37vw;
  }
  #t3 {
    transform: translate(-75%, 173%);
  }
}
