@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");
* {
  font-family: "Outfit", sans-serif;
  margin: 0;
  padding: 0;
}
body {
  background-color: hsl(217, 54%, 11%);
  position: relative;
}
.con1 {
  background-color: hsl(216, 50%, 16%);
  border-radius: 10px;
  box-shadow: -1px -2px 20px 12px #141414;
  height: 31rem;
  left: 50%;
  position: absolute;
  top: 5%;
  transform: translate(-60%, 20%);
  width: 18rem;
}
.imgs {
  position: relative;
}
img {
  border-radius: 10px;
  height: 15rem;
  left: 50%;
  position: absolute;
  top: 27%;
  transform: translate(-50%, -50%);
  width: 15rem;
}
.text {
  color: white;
  font-size: 20px;
  left: 41%;
  position: absolute;
  top: 68%;
  transform: translate(-50%, -50%);
}
.txt2 {
  color: #666db0;
  font-size: 15px;
}
.svg1 img {
  height: 15px;
  left: 13%;
  position: absolute;
  top: 80%;
  transform: translate(-50%, -50%);
  width: 12px;
}
.svgt1 {
  color: skyblue;
  font-size: 15px;
  height: 15px;
  left: 18%;
  position: absolute;
  top: 80%;
  transform: translate(-50%, -50%);
  width: 12px;
}
.svgt2 {
  color: skyblue;
  font-size: 15px;
  position: absolute;
  right: 25%;
  top: 80%;
  transform: translate(-50%, -50%);
  width: 12px;
}
.svg2 img {
  height: 15px;
  left: 65%;
  position: absolute;
  top: 80%;
  transform: translate(-50%, -50%);
  width: 12px;
}
.line hr {
  border: 1px solid hsl(215, 32%, 27%);
  left: 50%;
  position: absolute;
  top: 85%;
  transform: translate(-50%, -50%);
  width: 14rem;
}
.avatar img {
  border-radius: 50px;
  border: 1px solid white;
  height: 30px;
  left: 13%;
  position: absolute;
  top: 92%;
  transform: translate(-50%, -50%);
  width: 30px;
}
.avat1 {
  color: skyblue;
  font-size: 15px;
  left: 32%;
  position: absolute;
  top: 92%;
  transform: translate(-50%, -50%);
}
.avat2 {
  color: white;
  font-size: 15px;
  left: 50%;
  position: absolute;
  top: 92%;
  transform: translate(-50%, -50%);
  width: 12px;
}
.svg3 img {
  background-color: skyblue;
  border-radius: 10px;
  height: 25px;
  left: 50%;
  opacity: 0;
  padding: 110px 110px 110px 110px;
  position: absolute;
  top: 27%;
  transform: translate(-50%, -50%);
  transition: 0.8s ease;
  width: 25px;
}
.svg3 img:hover {
  opacity: 0.5;
}
@media only screen and (max-width: 361px) {
  .con1 {
    left: 57%;
    transform: translate(-61%, 10%);
  }
}
